body{
    margin: 0px;
    background-color: #f2f2f2;
}
#main{
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 77px 55px 33px 55px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0,0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#title{
    display: block;
    font-family: arial black;
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
}
#logo{
    width: 55px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 25px;
}
.inp{
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    position: relative;
    top: 20px;
}
.container{
    margin-top: 20px;
}
.container{
    margin-top: 20px;
}
.container label{
    position: relative;
    top: -10px;
    font-family: arial;
    font-size: 11px;
    color: #adadad;
    pointer-events: none;
    transition: all .2s;
}
.inp:focus + label{
    top: -30px;
}
.inp:valid + label{
    top: -30px;
}
#line{
    width: 100%;
    height: 0.1em;
    background-color: #adadad;
    position: relative;
    overflow: hidden;
}
#line::before{
    content: '';
    height: 100%;
    background: linear-gradient(45deg, #21d4fd, #b721ff);
    position: absolute;
    left: -100%;
    transition: all .4s;
}
.inp:focus ~ #line:before{
    left: 0%;
}
.inp:valid ~ #line:before{
    left: 0%;
}
button{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    font-family: arial;
    font-size: 15px;
    color: #fff;
    border: none;
    outline: none;
    margin-top: 70px;
    position: relative;
    overflow: hidden;
    z-index: 9999;
    cursor: pointer;
}
button::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(45deg,#21d4fd, #b721ff);
    z-index: -1;
    transition: all .4s;
}
button::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: -100%;
    top: 0px;
    background: linear-gradient(45deg, #b721ff, #21d4fd);
    transition: all .4s;
    z-index: -1;
}
button:hover:before{
    left: 100%;
}
button:hover:after{
    left: 0%;
}

#signupmsg{
    font-family: arial;
    font-size: 14px;
    text-align: center;
    color: #adadad;
    margin-top: 100px;
}